body {

    overflow-x: hidden;
    font-family: Helvetica,Arial,sans-serif;

}
h1{

	text-align: center;
	font-size: 300%;
	color: #A52A2A;
}

li {
    list-style: none;
}

.insert-hidden {
    display: none;
}

.delete-group {
    display: none;
    padding: 30px;
    background: white; 

}

.page-button {
    margin-top:15px;
}


#delete-button {
    padding-top: 10px;
}

#fileInput input{
	display:inline-block;
	margin:5px;
}