#search-input {
    margin-top: 40px;
    margin-bottom: 40px;
}

#search-top-suggestions {
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: rgb(230,230,230);
}

#search-results {
    padding-top: 40px;
    padding-bottom: 40px;
}

#search-input .glyphicon-search{
    font-size: 24px;
}

.search-title {
}

.search-item {
    width: 300px;  
    height: 300px;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    margin-top: 30px;
    padding: 0;
}

.search-item img {    
    width: inherit; 
    height: 150px;
    padding: 0;
    clip: auto;
	object-fit: cover;
    margin-bottom: 10px;
}

.search-rating {
    padding-bottom: 5px;
    width: 100px;
}