.form-group  #DOB select{
    width: auto;
    display: inline-block;

}

body {

    overflow-x: hidden;
    font-family: Helvetica,Arial,sans-serif;

}


#login-dp{
    min-width: 250px;
    padding: 8px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,1);
    width: 300%;
}

#login-dp .row {

    padding-left: 20px ;
    padding-right: 20px;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

#login-dp .form a {

    color:#333;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}


strong { font-weight: 500; }

a, a:hover, a:focus {
    color: #19b9e7;
    text-decoration: none;
}


img { max-width: 100%; }


.form-box {
    margin-top: 70px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #f3f3f3;
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form button.btn {
    width: 100%;
}

.form-bottom form .input-error {
    border-color: #fec503;
}

.social-login {
    margin-top: 35px;
}

.social-login-buttons {
    margin-top: 25px;
}

.middle-border {
    min-height: 300px;
    margin-top: 170px;
    border-right: 1px solid #ddd;
}

.center-block {

    float: none;
}

/***** Media queries *****/

@media (max-width: 767px) {

    .middle-border { 
        min-height: auto; 
        margin: 65px 30px 0 30px; 
        border-right: 0; 
        border-top: 1px solid #ddd; 
    }

    .form-box {
        width: 50%;
        margin: 0 auto;
        margin-top: 70px;
    }
    
}

@media (max-width: 415px) {

    h1, h2 { font-size: 32px; }

}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        text-align: right;
        max-width: 50%;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
