<html>
<head>

    <title> Feed -  New Dish! </title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/navbar.css" rel="stylesheet">
    <link href="../css/profile.css" rel="stylesheet" type="text/css">

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>

<body>

    <nav class = "navbar navbar-default">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand navbar-brand-fix" href="/">Feed</a> 
            </div>
        </div>
    </nav>
        
        <div class="container">
            <div class="row row-centered">
                <div class="col-xs-12 col-centered">
                    <form class="editprofile">
                        <h3 class="text-center"> New Dish </h3>
                        <ul>
                            <li>
                                <label class="field-style field-full align-none">Add A Picture of the Dish:  </label>
                                <img style="width: 200px;"class="field-style field-full align-centre" src="img/foodimage.png"> <br>
                                <input type="file" id="my_file" class="field-style field-full align-none"/>
                            </li>
                            <li>
                                <input type="text" name="field1" class="field-style field-full align-none" placeholder="Name of Dish *" />
                            </li>
                            <li>
                                <label class="field-style field-full align-none">Select the Type of Dish: </label>
                                <select class="field-style field-full align-none">
                                  <option value="volvo">Main Course</option>
                                  <option value="saab">Appetizer</option>
                                  <option value="opel">Dessert</option>
                                  <option value="audi">Drink</option>
                                </select>
                            </li>
                            <li>
                                <label class="field-style field-full align-none">Select the Cuisine Type: </label>
                                <select class="field-style field-full align-none">
                                  <option value="volvo">Western</option>
                                  <option value="saab">Mediterranean</option>
                                  <option value="opel">Chinese</option>
                                </select>
                            </li>
                            <li>
                                <input type="text" name="field5" class="field-style field-full align-none" placeholder="Ingredients (Separated by commas)" />

                            </li>
                            <li>
                                <textarea name="field5" class="field-style" placeholder="Dish Description"></textarea>
                            </li>
                            <li>
                                <input type="submit" value="Save Changes" />
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
            <hr>
            <footer class="text-center">
                <p class="copyright">
                    Copyright &copy; Feed 2016
                </p>
            </footer>
    </body>
</html>
